:root {
  /* Primary Colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /* Graphic design text */
  --dark-blue: hsl(198, 62%, 26%); /* Photography text */
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* Footer */

  /* Neutral Colors */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", serif;
}

/* General Rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
  font-family: var(--barlow);
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fraunces);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* Hero Section */

.hero {
  position: relative;
  background: url(/images/mobile/image-header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}

.nav-list {
  display: none;
  position: absolute;
  background-color: var(--white);
  width: 90%;
  top: 100px;
  left: 45%;
  transform: translate(-45%);
  text-align: center;
}

.nav-item {
  margin: 2.2em 0;
}

.contact-item {
  margin: 3em 0;
}

.contact-link {
  background-color: var(--yellow);
  text-transform: uppercase;
  font-family: var(--fraunces);
  padding: 1em 2em;
  border-radius: 100px;
  font-size: 1rem;
}

.hero-title {
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  font-size: 2.6rem;
  letter-spacing: 0.2em;
}

.arrow-down {
  text-align: center;
  margin-top: 25px;
}

/* Info Section */

.info-section {
  text-align: center;
}

.info-box,
.info-hybrid {
  padding: 1.5em;
}

.info-title {
  font-size: 1.8em;
}

.info-text,
.hybrid-text {
  line-height: 1.6em;
  margin-bottom: 2em;
}

.info-link {
  text-transform: uppercase;
  font-family: var(--fraunces);
}

hr {
  border: none;
  height: 8px;
  border-radius: 100px;
  width: 140px;
  margin-top: -5px;
}

.transform-link-underline {
  background-color: hsla(51, 100%, 49%, 0.32);
}

.standout-link-underline {
  background-color: hsla(7, 99%, 70%, 0.32);
}

.hybrid-design {
  background: url("/images/mobile/image-graphic-design.jpg");
  background-size: cover;
  color: var(--dark-desaturated-cyan);
}

.hybrid-photo {
  background: url("/images/mobile/image-photography.jpg");
  background-size: cover;
  color: var(--dark-blue);
}

.hybrid-title {
  margin-top: 350px;
}

.hybrid-text {
  font-size: 0.9rem;
  font-weight: 600;
}

/* Testimonials Section */
