:root {
  /* Primary Colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /* Graphic design text */
  --dark-blue: hsl(198, 62%, 26%); /* Photography text */
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* Footer */

  /* Neutral Colors */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", serif;
}

/* General Rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
  font-family: var(--barlow);
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fraunces);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  transition: opacity 0.3s ease-in-out;
}

a:hover {
  opacity: 0.5;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* Hero Section */

.hero {
  position: relative;
  background: url("../images/mobile/image-header.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}

.nav-list {
  opacity: 0;
  position: absolute;
  background-color: var(--white);
  width: 85%;
  top: 100px;
  left: 45%;
  transform: translate(-45%);
  text-align: center;
  transition: opacity 0.3s;
}

.nav-list::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -20px;
  right: 0;
  border-bottom: 30px solid var(--white);
  border-left: 30px solid transparent;
}

.show-menu {
  opacity: 1;
}

.nav-toggle {
  transition: transform 0.2s ease-in-out;
}

.nav-toggle:hover {
  transform: scale(1.2);
}

.nav-item {
  margin: 2.2em 0;
}

.contact-item {
  margin: 3em 0;
}

.contact-link {
  background-color: var(--yellow);
  text-transform: uppercase;
  font-family: var(--fraunces);
  padding: 1em 2em;
  border-radius: 100px;
  font-size: 1rem;
}

.hero-title {
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  font-size: 2.6rem;
  letter-spacing: 0.2em;
}

.arrow-down {
  text-align: center;
  margin-top: 60px;
}

/* Info Section */

.info-section {
  text-align: center;
}

.info-box,
.info-hybrid {
  padding: 1.5em;
}

.info-title {
  font-size: 1.8em;
}

.info-text,
.hybrid-text {
  line-height: 1.6em;
  margin-bottom: 2em;
}

.info-link {
  text-transform: uppercase;
  font-family: var(--fraunces);
}

hr {
  border: none;
  height: 8px;
  border-radius: 100px;
  width: 140px;
  margin-top: -5px;
  margin-bottom: 2.5em;
}

.transform-link-underline {
  background-color: hsla(51, 100%, 49%, 0.32);
}

.standout-link-underline {
  background-color: hsla(7, 99%, 70%, 0.32);
}

.glass-desktop,
.egg-desktop {
  display: none;
}

.hybrid-design {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--dark-desaturated-cyan);
}

.hybrid-photo {
  background-image: url("../images/mobile/image-photography.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--dark-blue);
}

.hybrid-title {
  margin-top: 350px;
}

.hybrid-text {
  font-size: 0.9rem;
  font-weight: 600;
}

/* Testimonials Section */

.testimonials-section {
  text-align: center;
}

.testimonials-title {
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  letter-spacing: 0.3em;
  font-size: 1.1rem;
  margin: 4em 0;
}

.testimonials-card {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4em;
}

.testimonials-picture {
  border-radius: 100px;
  transform: scale(0.6);
}
.testimonials-text {
  line-height: 1.6em;
  margin-top: 0;
}

.testimonials-name {
  margin-bottom: 0.5em;
}

.testimonials-occupation {
  margin: 0.5em 0;
  color: var(--grayish-blue);
}

/* Gallery Section */

.gallery-mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery-desktop {
  display: none;
}

/* Footer */

.footer {
  background-color: hsl(168, 77%, 60%);
  text-align: center;
  padding: 2em;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  margin: 2em 0 4em 0;
}

.footer-link {
  color: var(--dark-desaturated-cyan);
}

.social-bar {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.social-icon {
  cursor: pointer;
}

/* -------- Desktop Version -------- */

@media screen and (min-width: 750px) {
  /* Hero Section */

  .hero {
    background-image: url("../images/desktop/image-header.jpg");
    height: 70vh;
  }

  .navbar {
    padding-top: 2em;
  }

  .nav-list {
    opacity: 1;
    background: none;
    display: flex;
    gap: 5%;
    position: static;
    transform: none;
    width: 100%;
    justify-content: flex-end;
    align-content: center;
  }

  .nav-list::before {
    display: none;
  }

  .nav-item {
    margin: 0;
  }

  .nav-link {
    color: var(--white);
  }

  .contact-link {
    background-color: var(--white);
    color: black;
  }

  .nav-toggle {
    display: none;
  }

  /* Info Section */

  img {
    height: 100%;
  }

  .egg-mobile,
  .glass-mobile {
    display: none;
  }

  .egg-desktop,
  .glass-desktop {
    display: block;
  }

  .info-section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 4fr 4fr 4fr;
    grid-gap: 0;
    grid-template-areas:
      "transform egg"
      "glass standout"
      "design photo";
  }
  .transform-info {
    grid-area: transform;
  }

  .transform-picture {
    grid-area: egg;
  }

  .standout-picture {
    grid-area: glass;
  }

  .standout.info {
    grid-area: standout;
  }

  .info-box {
    text-align: left;
    padding: 20% 4em;
  }

  .info-title {
    font-size: 2.5rem;
  }

  .info-text {
    font-size: 1.5rem;
  }

  hr {
    margin-bottom: 2.5em;
    margin-left: -6px;
  }
  .hybrid-design {
    grid-area: design;
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }

  .hybrid-photo {
    grid-area: photo;
    background-image: url("../images/desktop/image-photography.jpg");
  }

  .info-hybrid {
    padding: 2em 5em 0 5em;
  }

  .hybrid-title {
    font-size: 2rem;
    margin-top: 85%;
  }

  .hybrid-text {
    font-size: 1.3rem;
  }

  /* Testimonials Section */

  .testimonials-section {
    padding: 4em;
  }

  .testimonials-container {
    display: flex;
    width: 100%;
    margin-bottom: 2em;
  }

  .testimonials-card {
    width: 30%;
  }

  .testimonials-picture {
    height: 50%;
  }

  .testimonials-text {
    font-size: 1.3rem;
    margin-bottom: 3em;
  }

  /* Gallery Section */

  .gallery-mobile {
    display: none;
  }

  .gallery-desktop {
    display: flex;
  }

  .gallery-picture {
    width: 25%;
  }

  /* Footer Section */
  .footer-logo {
    transform: scale(1.3);
    margin-top: 2em;
  }

  .footer-nav {
    justify-content: center;
    gap: 3em;
    margin-bottom: 3em;
    font-size: 1.2em;
  }

  .social-bar {
    margin-top: 6em;
    margin-bottom: 2em;
    justify-content: center;
    gap: 2em;
    transform: scale(1.2);
  }
}
